{% from "macros.jinja" import data_table %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tables Jinja</title>
    
    <link rel="stylesheet" href="table.css" />
</head>

<body>
    {{ data_table(headings, data) }}
</body>
</html>