{% set sections = [
    "Introductions",
    "What you should already know",
    "JavaScript and Java",
    "Hello world",
    "Variables",
    "Declaring variables",
    "Variable scope",
    "Global variables",
    "Constants",
    "Data types",
    "if...else statement",
    "while statement",
    "Function declarations",
    "Reference"
] %}