<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Growth App</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    {% include "parts/navbar.html" %}

    {#
    {% include "parts/hero.html" %}

    {% include "parts/video.html" %}

    {% include "parts/testimonials.html" %}
    
    {% include "parts/pricing.html" %}
    
    {% include "parts/faq.html" %}
    #}
    {% include "parts/footer.html" %}
 
    <script src="main.js"></script>
</body>
</html>