<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="images/logo.png" alt="logo" />
            </a>
        </div>

        <div class="main-menu">
            {% include "parts/navlinks.html" %}
        </div>

        <!-- Hamburger button -->

        <button id="hamburger-button">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </button>

        <div class="mobile-menu">
            {% include "parts/navlinks.html" %}
        </div>
    </div>
</nav>