{% extends "layout.jinja" %}

{% block content %}

{% for section in sections %}
<section id="{{ section.link }}">
    <header>{{ section.title }}</header>

    {% include "sections/" + section.path %}
</section>
{% endfor %}

{% endblock %}